
.header h1 {
  color: blue;
  text-align: center;
  font-size: 50px;
  text-align: center;
}
.header h2 {
  font-style: italic;
  text-align: center;
}
.text p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.text ul {
  line-height: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.links p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}